{% extends "base.html" %}

{% block controls %}

    <a class="gray-link" href="/">(Front Page)</a>
    |
    {% if page %}
    <a class="gray-link" href="{{ path }}">view</a>
    |
    <a class="gray-link" href="/_history{{ path }}">history</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>edit post</h2>

    <form method="post">
        <label>
            <div>subject</div>
        </label>
            <input class="post-title" type="text" name="subject" value="{{ post.subject or "" }}">


        <label>
            <div>blog</div>
        </label>
            <textarea name="content">{{ post.content or ""}}</textarea>


        <div class="error">{{error}}</div>

        <label>
            <div>tags</div>
            <input class="post-tags" type="text" name="tags" value="{{post.tags or ""}}">
        </label>

        <input type="submit">
    </form>
{% endblock %}