{% extends "/base.html" %}

{% block content %}

    {% for p in posts %}
        <div class="post">
            <!--<div class="post-heading">-->
            <div class="post-title-box">

                <a href="/{{ p.key.id() }}" class="post-title" >{{p.subject}}</a>


                <div class="post-date">
                    {{p.created.strftime("%b %d, %Y")}}
                </div>
                <!--</div>-->

            </div>

        </div>


    {% endfor %}

{% endblock %}