{% extends "base.html" %}

{% block controls %}

    <a class="gray-link" href="/">(Front Page)</a> |
{% endblock %}

{% block content %}
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input class="post-title" type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

        <label>
            <div>tags</div>
            <input class="post-tags" type="text" name="tags" value="{{tags}}">
        </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
