<div class="post">

 <!-- <post-title-box> -->
    <div class="post-title-box">
     <!-- for seo, must change p.key.id() to something like p.seo_subject -->
     <a href="/{{ p.key.id() }}" class="post-title" >{{p.subject}}</a>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
    </div> <!-- end div for post-title-box -->

  <!-- </div> for post-heading -->

  <div class="post-content">
   {{p._render_text | safe}}

  </div>


<ul class="tags">
       {% for tag in [p.tags] %}
       <li>{{p.tags}}</li>
        {% endfor %}
     </ul>

</div>


