
html, body, #container {
    height: 100%;
}

body > #container {
    height: auto; min-height: 100%;
}

#content {
    padding-bottom: 3em;
}


body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

post-title {
    width: 500px;
    font-size: 20px;
    font-weight: lighter;
    padding: 2px;
    font-family: consolas;
}

post-tags {
    width: 500px;
    font-size: 16px;
    font-weight: lighter;
    padding: 2px;
    font-family: consolas;
}

textarea {
    width: 700px;
    height: 400px;
    font-size: 17px;
    font-family: consolas;
}

input[type=submit] {
    font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1px;
    text-decoration: none;
}

.sub-title {
    display: block;
    color: gray;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-decoration: gray;
    margin-bottom: 30px;
    text-decoration: none;
}

.left-control {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    left: 10px;
}

.post + .post {
    margin-top: 15px;
}

/* obsolete to post-title-box */
.post-heading {
    position: relative;
    border-bottom: 2px solid #666;
}

.post-heading-history {
    position: relative;
    border-bottom: 1px solid #666;
}


.post-title-box {
    background: #c0c0c0;
    border-bottom: solid 1px #E2E2E2;
    font-size: 1.125em;
    font-weight: lighter;
    letter-spacing: -.05em;
    padding: 7px 10px;
    position: relative;
    z-index: 10;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.post-title {
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
    color: #333;
}

.post-title-history {
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: #333;
}

.post-title:visited {
    color: #333;
}

.post-date {
    position: absolute;
    font-weight: lighter;
    right: 5px;
    bottom: 3px;
    color: #666666;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: -.05em;
    padding: 7px 10px;
}

.post-date-history {
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}


/* Bobs Edit */

.controls {
    float: left;
    font-size: 13px;
    color: gray;
}

.controls + .controls {
    margin-left: 20px
}

.gray-link {
    color: gray;
    text-decoration: none;
}


.gray-link:visited {
    color: gray;
}

.gray-link:hover {
    text-decoration: underline;
}

.blog-link {
    color: #cd5c5c;
    text-decoration: none;
}

.blog-link:visited {
    color: #cd5c5c;
}

.blog-link:hover {
    text-decoration: underline;
}

.profile-block {
    color: #A3A3A3;
    font-size: .875em;
    letter-spacing: -.02em;
    line-height: 1.2em;
    margin-top: 20px;
    padding-left: 80px;
    position: relative;
    width: 300px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    font-size: 12px;
    background-color: #c0c0c0;
    color: black;
    text-align: center;
    line-height: 3em;
}



